In [1]:
import pandas as pd
from utils import *
import seaborn as sns
import matplotlib.pyplot as plt
from utils import *

# set plot size larger
sns.set(rc={"figure.figsize": (11.7, 8.27)})
# set seaborn style
sns.set_style("whitegrid")

In [2]:
train_data_melted = process_data("data/train.xlsx")
train_data_melted

            Date  Hour  Price
0     2007-01-01     1  24.31
1096  2007-01-01     2  24.31
2192  2007-01-01     3  21.71
3288  2007-01-01     4   8.42
4384  2007-01-01     5   0.01
...          ...   ...    ...
21919 2009-12-31    20  36.00
23015 2009-12-31    21  29.00
24111 2009-12-31    22  24.82
25207 2009-12-31    23  31.28
26303 2009-12-31    24  31.00

[26304 rows x 3 columns]

## Q learning

In [3]:
env = SmartGridBatteryEnv(train_data_melted)  # Replace with your actual environment
log = []
num_episodes = 100  # Define the number of episodes

agent = QLearningAgent(env.observation_space, env.action_space)

for episode in range(num_episodes):
    state = env.reset()  # Reset the environment for the new episode
    done = False
    total_reward = 0

    while not done:
        # q learniing
        action = agent.choose_action(state)
        next_state, reward, done, _ = env.step(action)
        agent.update_q_table(state, action, reward, next_state)
        state = next_state

    log.append({"Episode": episode + 1, "Total Reward": total_reward})

    agent.decay_epsilon()

    # print(f"Episode: {episode + 1}, Total Reward: {total_reward}")

env.close()  # Close the environment when done

IndexError: arrays used as indices must be of integer (or boolean) type

In [ ]:
log = pd.DataFrame(log)
log.head()